

.headerContainer {
    position: relative;
  }
  
  .headerContainer img {
    width: 100%;
    height: auto;
  }
  
  .headerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }